{% extends 'base.html.twig' %}

{% block title %}Ой{% endblock %}

{% block body %}
    <div class="text-center">
        <h5 class="alert-success">{{ message }}</h5><br><br>
    </div>
{% endblock %}
